.container-fluid{
  position: relative;
  height: 100%;
  width:100%;
  padding-left: 0;
}
body {
  margin-left: 0;
}
 .head {
  position: absolute;
  top: 205px;
  text-align: center;
  left: 340px;
  color: white;
}
.mouse{
  position: absolute;
  top: 640px;
  text-align: center;
  left:620px;
}
.about {
  text-align: center;
  margin-top: 50px;
  font-size: 19px;
  font-weight: 200px;
  line-height: 2;
}
.services {
  position: relative;
  height: 100%;
  width:100%;
}
